body {
  font-family: 'Bungee Inline', cursive;
  background-color: #0F0E0E;
  color: #A22C29;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  text-align: center;
  line-height: 1.5em;

}

h1{
  
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  margin: auto;
  text-align: center;
  padding: 60px;
  font-size: 5em;
}



p{
  padding-bottom: 10px;
  text-align: center;
}
label {
  font-size: 1.3em;
  align-content: center;
  align-items: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  
}

input{
  margin-top: 100px;
  background-color: #EEE5E9;
  color: #A22C29;
  width: 500px;
  height: 100px;
  text-align: center;
  border-radius: 20px;
  font-size: 80px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  
  
}

button {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  width: 150px;
  height: 50px;
  background-color: #A22C29;
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  margin-bottom: 50px;
  
}

button:hover, button:focus, button:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

p {
  line-height: 1em;
}

section{
  width: 1100px;
  height: 500px;
  border: none;
  border-radius: 18px;
  overflow-y: auto;
  background-color: #EEE5E9;
  text-align: center;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

section p {
  text-align: center;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

#loading{
	background-color: #0F0E0E;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
  -moz-animation: cssAnimation 0s ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
}
#object{
	width: 80px;
	height: 80px;
	background-color: #FBF5F3;
	-webkit-animation: animate 1s infinite ease-in-out;
	animation: animate 1s infinite ease-in-out;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);}
}

@keyframes animate {
  0% { 
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg); 
  } 50% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
  } 100% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}

